html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background: #eee;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: arial;
}
* {
  box-sizing: border-box;
}
body > * {
  margin: 3vw;
}
.customEventTarget {
  flex-direction: row;
  box-shadow: 0 0 4px black;
  width: 40vw;
  height: 20vh;
  background: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20pt;
  font-family: monospace;
  text-align: center;
  color: white;
  transition: all 1s;
  flex-direction: column;
}
.sizeChanged {
  width: 50vw;
  height: 30vh;
}
button {
  height: 5vh;
}
.payload {
  font-size: 9pt;
}

h1 {
  flex: 0 1 100%;
  width: 100%;
  height: 10%;
  text-align: center;
}
